*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #0A0A0A;
    transition: 0.5s ease;
}

a:hover {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'EB Garamond', serif;
    font-weight: inherit;
    font-size: inherit;
    color: #000000;
}

html,
body {
    font-family: 'Inter', sans-serif;
    background: #FEFDFC;
}

::-webkit-scrollbar {
    background: #f5f5f5;
    width: 10px;

}

::-webkit-scrollbar-thumb {
    background-color: #383230;
    height: 80px;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.header_top {
    padding-top: 8px;
    padding-bottom: 8px;
    background: #383230;
}

.right_item, .left_items {
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-size: 11px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.left_items {
    column-gap: 32px;
}

.header-main {
    min-height: 70px;
    padding-top: 22px;
    padding-bottom: 27px;
    align-items: center;
    justify-content: space-around;
}

.header__burger-btn {
    display: none;
    position: relative;
    margin-bottom: -50px;
    top: -30px;
    width: 40px;
    height: 40px;
    border: none;
    margin-left: 20px;
    background-color: transparent;
    z-index: 2;
}

.header__burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #383230;
    left: 5px;
    transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
    will-change: transform;
}

.header__burger-btn:hover span {
    background-color: rgba(128, 128, 128, 0.79);
    cursor: pointer;
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

.header.open .header__burger-btn span {
    background-color: #771b1b;
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0px) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0px) rotate(-45deg);
}

.logo {
    display: block;
    z-index: 2;
}

.logo__img {
    width: 100px;
}

.menu_list {
    column-gap: 20px;
}

.menu_item {
    font-size: 15px;
    z-index: 2;
    line-height: 12px;
    color: #383230;
    background-color: transparent;
    position: relative;
    transition: all 0.3s ease 0s;
}

.menu_item ::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #383230;
    transition: all 0.3s ease 0s;
}

.menu_item a:hover {
    color: #383230;
    text-shadow: 0 0 black;
}

.menu_item:hover ::after {
    width: 100%;
}

.header_btn {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #383230;
    border: 1px solid #383230;
}

.header_btn:hover {
    background: #383230;
    color: #FFFFFF;
}

.header_menu {
    column-gap: 20px;
    justify-content: center;
}

.page {
    flex: 1 1 auto;
}

.luxury {
    padding-top: 76px;
    padding-bottom: 80px;
    background: #F9F7F4;
    text-align: center;
}

.luxury_title {
    font-size: 48px;
    line-height: 77px;
    letter-spacing: 3.2px;

}

.main_bg {
    background-size: cover;
    background-image: url("../img/main_bg/01.jpg");
}

.title {
    font-size: 34px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 2px;
}

.unbranded_title {
    max-width: 590px;
    padding-bottom: 33px;
}

.learn_more {
    border-bottom: 1px solid black;
}

.brand_block {
    padding-top: 30px;
    padding-bottom: 35px;
    background: #F9F7F4;
}

.brand_items {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    row-gap: 25px;
}

.skincare {
    padding: 90px 0;
}

.text_15 {
    font-size: 15px;
    line-height: 26px;
}

.main_button {
    padding: 12px 16px 16px;
    font-size: 15px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    border: 1px solid #000000;
    transition: all 0.5s ease;
}

.main_button:hover {
    background: #383230;
    color: #FEFDFC;
    border: none;
}

.new_arrivals_main {
    padding-bottom: 15px;
}

.new_arrivals_title {
    font-size: 36px;
    line-height: 58px;
    letter-spacing: 2.4px;
    padding-bottom: 31px;
}

.new_arrivals_items {
    column-gap: 10px;
    row-gap: 15px;
}


.card_items {
    column-gap: 10px;
    row-gap: 10px;

}

.card {
    padding-left: 0;
    padding-right: 0;
    transition: all 0.3s ease;
    border-radius: 0;
}

.card-item {
    width: 100%;
    border-radius: 0;
}

.card-img-top {
    object-fit: cover;
    border-radius: 0;
}

.card-title {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.4px;
    color: #383230;
}

.card-text {
    font-size: 12px;
    line-height: 12px;
    color: #8C8C8C;
}

.card_brand {
    font-size: 12px;
    line-height: 19px;
    color: #383230;
}

.card_brand_details::before {
    content: " . ";
    font-size: 20px;
}

.card_details {
    color: #8C8C8C;
}

.card_details::before {
    content: "";
    padding-left: 12px;
}

.card_item_title {
    padding-top: 8px;
    font-size: 25px;
    line-height: 34px;
    letter-spacing: 0.7px;
}


.card_item_text {
    font-size: 14px;
    line-height: 22px;
    color: #555555;
}

.refresh {
    padding-top: 88px;
    padding-bottom: 118px;
}

.title_30 {
    font-size: 31px;
    line-height: 48px;
    letter-spacing: 2px;
}

.refresh_main_img {
    width: 100%;
    background-size: cover;
    background-image: url("../img/hiit_refresh/01.jpg");
}

.refresh_items, .new_arrivals_items {
    column-gap: 30px;
    row-gap: 20px;
}

.refresh_block_btn {
    padding-left: 234px;
}

.explore_even_more {
    padding-bottom: 132px;
}

.explore_text {
    padding-top: 7px;
    font-size: 12px;
    line-height: 12px;
    color: #000000;
}

.explore_card:hover {
    box-shadow: 6px 6px 10px 0 #a09d95;
    transition: all 0.3s linear;
    opacity: 0.7;
    transform: scale(1.1, 1.1);
    margin-bottom: 10px;
}

.cookware {
    padding-bottom: 37px;
}

.atelier, .what, .our {
    background: #F9F7F4;
}

.details {
    font-size: 14px;
    line-height: 14px;
    color: #817A70;
}

.atelier_title {
    text-align: inherit;
}

.section-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.title_28 {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.8px;
    color: #383230;
}

.what_items {
    row-gap: 20px;
}

.what_item {
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

.what_item_title {
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.6px;
    padding-bottom: 13px;
}

.what_item_text {
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 17px;
    max-width: 264px;
}

.pet {
    padding-top: 41px;
    padding-bottom: 35px;
}

.impressing_content {
    text-align: center;
}

.our_title {
    font-size: 35px;
    line-height: 48px;
    letter-spacing: 2px;
}

.bg_cloth {
    background-image: url("../img/cloth/01.png");
    background-size: cover;
    width: 100%;
    height: 460px;
}

.quality {
    padding-top: 118px;
    padding-bottom: 61px;
}

.quality_content {
    column-gap: 70px;
    row-gap: 20px;
}

.quality_title {
    font-size: 24px;
    line-height: 29px;
    color: #383230;
    padding-bottom: 10px;
}

.quality_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #817A70;
}

.footer {
    padding-top: 77px;
    padding-bottom: 33px;
    background: #383230;
}

.footer_title {
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}

.footer_top_content {
    padding-bottom: 170px;
}

.footer_stay {
    padding-bottom: 50px;
}

.footer_text {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.6px;
    color: #E0DBD2;
}

.text_14 {
    font-size: 14px;
    line-height: 14px;
    color: #E0DBD2;
}

.text_14:hover {
    font-size: 16px;
    color: #E0DBD2;
}

.form_footer {
    column-gap: 8px;
}

.footer_input {
    border: 1px solid #8C8C8C;
    border-radius: 4px;
    padding: 8px;
    background: #383230;
    color: #FFFFFF;
    font-size: 20px;
}

.footer_btn {
    padding: 16px 14px;
    background: #FFFFFF;
    border-radius: 3px;
}

.footer_btn:hover {
    background: #c9c5c5;
}

.col-gap-20 {
    column-gap: 20px;
}

.icon-15 {
    width: 15px;
}

.bottom_content {
    padding-top: 15px;
    border-top: 1px solid #c9c5c5;

}

.footer_bottom_text {
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    color: #8C8C8C;
}

.icon-20 {
    width: 20px;
    height: 20px;
}


@keyframes text {
    0% {
        opacity: 0;
    }
}

@media (min-width: 1200px) {
    .col-xl-1-5 {
        flex: 0 0 13.333333%;
        max-width: 13.333333%;
    }

    .col-xl-2-5 {
        flex: 0 0 18.666667%;
        max-width: 20.666667%;
    }
}

@media (max-width: 990px) {
    .header_top {
        flex-flow: column wrap;
    }

    .header__burger-btn {
        display: block;
    }

    .menu {
        position: absolute;
        right: -100%;
        height: 100vh;
        top: 0;
        width: 100%;
        background-color: #f9f7f4;
        /*padding: 120px 50px 20px;*/
        transition: transform 0.5s;
    }

    .menu_list {
        display: block;
        padding: 0 20px;
    }

    .menu_link {
        color: #383230;
        display: block;
        padding: 10px 0;
    }

    .menu_item {
        font-size: 18px;
    }

    .menu_item:not(:last-child) {
        margin-right: 0;

    }

    .header.open .menu {
        transform: translateX(-100%);
    }

    .header-main, .menu_list {
        flex-wrap: wrap;
        row-gap: 15px;
    }


    .menu_list {
        flex-flow: row wrap;
        flex-direction: column;
        align-items: center;
        padding: 120px 0;
    }

    .menu:before {
        content: ' ';
        display: block;
        position: absolute;
        background-size: cover;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-position: 50% 0;
        background-image: url("../img/main_bg/01.jpg");
    }

    .luxury {
        padding-top: 60px;
        padding-bottom: 70px;
    }

    .luxury_title {
        font-size: 38px;
        line-height: 57px;
    }
.brand_items{
    flex-wrap: wrap;
}
    .title {
        font-size: 34px;
        line-height: 48px;
    }

    .new_arrivals_main {
        text-align: center;
        flex-direction: row;
    }

    .new_arrivals_title {
        font-size: 26px;
        line-height: 38px;
        padding-bottom: 20px;
    }

    .refresh_top_content {
        text-align: center;
        padding: 20px;
        flex-direction: column;
    }

    .refresh_block_btn {
        padding: 0;
        width: 100%;
    }

    .refresh {
        position: relative;
        overflow: hidden;
        z-index: 2;
    }

    .refresh_top_content, .refresh_items {
        position: relative;
        z-index: 2;
    }

    .refresh:before {
        content: ' ';
        display: block;
        position: absolute;
        background-size: cover;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-position: 50% 0;
        background-image: url("../img/hiit_refresh/01.jpg");
    }

    .explore_even_more {
        padding-bottom: 90px;
    }

    .atelier_woman {
        display: none;
    }

    .title_28 {
        text-align: center;
    }

    .quality {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .footer_top_content {
        padding-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .luxury {
        padding-top: 40px;
        padding-bottom: 50px;
    }

    .skincare {
        padding: 40px 0;
    }

    .section-80 {
        padding: 40px 20px;
    }

    .main_button {
        width: 100%;
    }

    .luxury_title {
        font-size: 28px;
        line-height: 47px;
    }

    .title, .our_title {
        font-size: 24px;
        line-height: 38px;
    }

    .main_bg {
        display: none;
    }

    .new_arrivals_items {
        flex-wrap: wrap;
    }

    .explore_even_more {
        padding-bottom: 60px;
    }

    .quality {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer_stay {
        padding-right: 2px;
    }

    .footer_right_b_items {
        order: 1;
    }

    .form_footer {
        display: block;
    }

    .footer_input {
        font-size: 12px;
        padding: 8px;
    }

    .footer_btn {
        padding: 6px 14px;
    }

    .footer {
        padding-top: 50px;
    }
}

@media (max-width: 360px) {


    .quality {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .section-80 {
        padding: 20px 20px;
    }

    .footer {
        padding-top: 30px;
    }

    .form_footer {
        display: block;
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 311px) {
    .logo {
        order: 1;
    }

    .header_menu {
        order: 2;
    }

    .header__burger-btn {
        order: 1;
    }
}